*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.secao-2{
    background-color: aquamarine;
    height: 500px;
}
.secao{
    background-color: brown;
    height: 100vh;
    position: relative;
}
.leteiro-container{
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color: aqua;
    width: 100%;
    overflow-x: hidden;
}
.items{
    background-color: blue; 
    
    /*
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    */
}
.items img{
    width: 100%;
    height: 100px;
}
.run-letreiro-item{
    position: relative;
    width: 205px;
    height: 100px;
    left: 0px; 
    margin-left: 50px;
    margin-right: 50px;
    flex-basis: 205px;
    flex-shrink: 0;
    flex-grow: 0;
}
.nome-item{
    text-align: center;
}
@keyframes animation {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}